/*Rose Mormino
28/3/24
Styles for layout*/

/*Header Layout*/
header {
    display: flex;
    width: 100%;
}

header .header-logo {
    display: inline;
    text-align: center;
    margin: .5em 2em .5em 4em;
}

header img {
    display: inline;
    float: left;
    max-height: 100px;
}

header nav {
    margin: 2em 0em 1em auto;
}

header ul {
    display: inline;
}

header ul li{
    display: inline;
    margin: 0 4em 0 0;
}

/*Main Layout*/
.hero-text {
    margin: .5em 0;
}

.home-portfolio-link h3 {
    display: inline;
    margin: 1em;
}

/*Portfolio Page Styles*/
.portfolio-links {
    display: grid;
    grid-template-areas: 
    "web nothing ui/ux nothing"
    "nothing graphic nothing personal";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.port-link-web {
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start:1;
    grid-row-end:1;
}

.port-link-gd {
    grid-column-start:2;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:2;
}

.port-link-uiux {
    grid-column-start:3;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:1;
}

.port-link-pers {
    grid-column-start:4;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end:2;
}

/*Contact Page Styles*/
.about {
    display: grid;
    grid-template-areas: 
    "contact image"
    "contact image"
    "contact image";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
}
