/*
Adobe Fonts (font-style:italic included)
    Scotch Micro Bold
    font-family: scotch-modern-micro, sans-serif;
    font-weight: 700;
    font-style: normal;

    Scotch Micro Regular
    font-family: scotch-modern-micro, sans-serif;
    font-weight: 400;
    font-style: normal;

    New Hero Regular
    font-family: new-hero, sans-serif;
    font-weight: 400;
    font-style: normal;

    New Hero Bold
    font-family: new-hero, sans-serif;
    font-weight: 700;
    font-style: normal;

    Le Havre Black
    font-family: le-havre, sans-serif;
    font-weight: 900;
    font-style: normal;

    Le Havre Thin
    font-family: le-havre, sans-serif;
    font-weight: 200;
    font-style: normal;

Colors
    Scarlet - #FF3A20
    Deep Blue - #29339B
    Mint - #B6D6CC
    Flourescent Cream - #F1FEC6
    Slate - #74A4BC
*/

/**********************************************************Style Reset*/
html, body, header, footer, nav, div, img, h1, h2, h3, ul, li, main, section, p, button, input {
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font-weight: normal;
}

a, ul, li {
    text-decoration: none;
    list-style: none;
}

/**********************************************************Scroll Bar Styles*/
::-webkit-scrollbar {
    width: .95em;
}
  
::-webkit-scrollbar-track {
    background: #fff;
    border: 1px solid #29339B;
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: #29339B; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #ff3a20;
}

/**********************************************************Page-Wide Styles*/
a {
    color: #29339B;
    font-family: new-hero, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:hover,
a:active {
    color: #ff3a20;
}

input {
    border: 1px solid #29339B;
}

button {
    text-align: center;
    font-family: new-hero, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #29339B;
    color: #fff;
    margin: 1em;
    padding: .5em 1em;
    border-radius: 100px;
}

button:hover,
button:active {
    background-color: #ff3a20;
}

section {
    padding: 1.5em 2em;
}


/**********************************************************Header Styles*/
header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #29339B;
    padding: 2em;
}

header h1{
    text-align: center;
    font-family: le-havre, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2em;
    margin: 0;
}

header img {
    align-self: baseline;
    max-height: 8em;
    margin: 0;
}

nav {
    align-self: flex-end;
    text-align: right;
}

nav a {
    font-family: scotch-modern-micro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
}

/**********************************************************Main Styles*/
main {
    max-width: 100vw;
}

.hero {
    background-image: url(/images/hero-img.gif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio-hero {
    background-image: url(/images/hero-img.gif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-hero {
    background-image: url(/images/hero-img.gif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h2,
.portfolio-hero h2,
.project-hero h2 {
    padding: 2em;
    text-align: center;
    font-family: scotch-modern-micro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
}

.about {
    display: flex;
    flex-direction: column;
    border: 0px;
}

.about h2 {
    font-family: scotch-modern-micro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    margin-bottom: .2em;
}

.about img {
    border-radius: 5em;
    max-width: 100%;
    height: auto;
}

h3 {
    font-family: scotch-modern-micro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

section {
    border-top: 1px solid #29339B;
    background-color: #ffffff;
    font-family: new-hero, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: new-hero, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}



/**********************************************************Footer Styles*/
footer {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #29339B;
    border-top: 1px solid #29339B;
}

.footer-arrow {
    order: -2;
}

.footer-logo {
    order: -1;
    text-align: center;
}

.footer-arrow img {
    max-width:10em;
}

.footer-logo img {
    max-height: 8em;
    margin: .8em 0;
}

.footer-social-media img {
    margin: 2em 1em;
    height: 2em;
}

.footer-copyright {
    margin: 2em 0;
}



